<div class="card">
  <div class="card-header">
    <h4>Register new device</h4>
  </div>
  <form>
    <div class="card-block">
      <div class="form-group">
        <label for=""></label>
        <input type="string" class="form-control" name="" value="">
      </div>
      <div class="form-group">
        <label for=""></label>
        <input type="string" class="form-control" name="" value="">
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary"></button>
    </div>
  </form>
</div>